<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Answer Page!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
	<h1>Search Results</h1>
	<h2>1. {{result1}}</h2>
    <h2>2. {{result2}}</h2>
    <h2>3. {{result3}}</h2>
    <h2>4. {{result4}}</h2>
    <h2>5. {{result5}}</h2>
    <h2>6. {{result6}}</h2>
    <h2>7. {{result7}}</h2>
    <h2>8. {{result8}}</h2>
    <h2>9. {{result9}}</h2>
    <h2>10. {{result10}}</h2>
</body>
</html>