<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Answer Page!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <div style="display: grid; grid-template-columns: 20% 80%; justify-items: center;">
        <button style="height: fit-content; " onclick="goBack()">Go Back</button>

        <script>
        function goBack() {
            window.history.back();
        }
        </script>

	    <h1>Search Results</h1>
   </div>
	<ul>
        <li><strong>{{result1}}</strong></li>
        <li style="list-style: none;">{{description1}}</li>
        <li><strong>{{result2}}</strong></li>
        <li style="list-style: none;">{{description2}}</li>
        <li><strong>{{result3}}</strong></li>
        <li style="list-style: none;">{{description3}}</li>
        <li><strong>{{result4}}</strong></li>
        <li style="list-style: none;">{{description4}}</li>
        <li><strong>{{result5}}</strong></li>
        <li style="list-style: none;">{{description5}}</li>
        <li><strong>{{result6}}</strong></li>
        <li style="list-style: none;">{{description6}}</li>
        <li><strong>{{result7}}</strong></li>
        <li style="list-style: none;">{{description7}}</li>
        <li><strong>{{result8}}</strong></li>
        <li style="list-style: none;">{{description8}}</li>
        <li><strong>{{result9}}</strong></li>
        <li style="list-style: none;">{{description9}}</li>
        <li><strong>{{result10}}</strong></li>
        <li style="list-style: none;">{{description10}}</li>
        </ul>
</body>
</html>