<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Answer Page!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <div style="display: grid; grid-template-columns: 20% 80%; justify-items: center;">
        <button style="height: fit-content; " onclick="goBack()">Go Back</button>

        <script>
        function goBack() {
            window.history.back();
        }
        </script>

	    <h1>Search Results</h1>
   </div>
	<h3>Sorry, there were no results for your query!</h3>
</body>
</html>